@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Anton');

body {
    background-image: url("./../images/weedbg1.jpg");    
}

h1, h2, h3 {
      font-family: 'Anton', sans-serif;
      letter-spacing: .1em;
      color: rgba(255,255,255,.8);
}

h4 {
    font-family: "Roboto";
    letter-spacing: 0;
}

.navbar-default {
  background: rgba(0,0,0,0.4);
  border: none;
  margin-bottom: 0px;
}

.white-bg{
    background: rgba(255,255,255,.2);
    padding: 2em;
}

.jumbotron{
    margin-bottom: 0px;

  background: rgba(0,0,0,0.4);
    /*background-image: url("./../images/jumbopic.jpg");*/
    color: white;
    text-shadow: black 0.3em 0.3em 1em;
}

.container {
     box-shadow: 10px 10px 30px #000000;
}
