@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    background-image: url("./../images/weedbg1.jpg");    
}

h1, h2, h3 {
      font-family: 'Roboto', sans-serif;
}

.navbar-default {
  background: rgba(0,0,0,0.4);
  border: none;
  margin-bottom: 0px;
}

.white-bg{
    background-color:white;
    padding: 2em;
}

.jumbotron{
    margin-bottom: 0px;
    background-image: url("./../images/weedbg.jpg");
    color: white;
    text-shadow: black 0.3em 0.3em 1em;
}

.container {
     box-shadow: 10px 10px 30px #000000;
}
